extends layout

block content
  .pusher
    .ui.inverted.vertical.masthead.center.aligned.segment.flexo
      .ui.text.container
        h1.ui.inverted.header
          | #{title}
        h2 #{slogan}
        .ui.action.input.hundred
          input(type='text', placeholder='e.g. https://git.piratenet.work/piratenet/linker' name='link')
          button.ui.primary.button Shorten
