doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/semantic/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    script(src='/lib/jquery/jquery.min.js')
    script(src='/lib/semantic/semantic.min.js')
    script(src='/javascripts/main.js')
  body
    block content
